.form{
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 10%;
}

.add-igridients{
    gap: 12px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.add-igridients > button::before {
    content: "+";
    margin-right: 5px;
}